#startPraying {width:100%; min-height:100%; height:1000px;}
.homeDiv {background: url(https://dl.dropboxusercontent.com/u/50986590/iphone-prayer-walk-1.jpg); background-size:cover;}
#map {background: url(https://dl.dropboxusercontent.com/u/50986590/iphone-prayer-walk-2.jpg); background-size:cover;}
#notes {background: url(https://dl.dropboxusercontent.com/u/50986590/iphone-prayer-walk-3.jpg); background-size:cover;}
#history {background: url(https://dl.dropboxusercontent.com/u/50986590/iphone-prayer-walk-4.jpg); background-size:cover;}